{% extends "network/layout.html" %}

{% block body %}
    <style>
        .container {
            border-left: none;
            border-right: none;
        }
        
        .profile_post {
            margin: 0;
            margin-bottom: 1rem;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const username = document.querySelector("#profile-username").dataset.name;
            timeline(`profile_feed/${username}`)

            following_switch();
        });
    </script>
    <div class="container">
        <div class="profile-container">
            <h2 id="profile-username" data-name="{{ profile_username }}">{{ profile_username }}'s profile</h2>
            <h2>{{ followers }} followers</h2>
            <h2>Following: {{ followees_count }} </h2>
            {% if profile_username == user %}
            <!-- No button -->
            {% else %}
                <div id="following-check" data-following="{{ already_following }}"></div>
                <button class="btn btn-secondary" id="unfollow-btn" onclick="unfollow()">Unfollow</button>
                <button class="btn btn-primary" id="follow-btn" onclick="follow()">Follow</button>
            {% endif %}
        </div>
        <hr>
        <div class="timeline" id="timeline-feed">
        </div>
    </div>
{% endblock %}