.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: black 1px solid;
    border-right: black 1px solid;
    width: 50%;
}

.profile-container {
    border: black 1px solid;
    border-radius: 10px;
    margin-bottom: 5rem;
}

.new-post {
    border-bottom: black 1px solid;
    margin-bottom: 1rem;
}

form {
    padding: 1rem;
    width: 100%;
}

.post, .profile_post {
    padding: 1rem;
    margin: 0.5rem;
    width: auto;
    border: black 1px solid;
    border-radius: 10px;
}

.profile-container {
    padding: 1rem;
}

.post-like {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.like-btn, .unlike-btn {
    margin-left: 0.5rem;
}

textarea {
    border-radius: 10px;
    resize: none;
    width: 100%;
}

.timeline a {
    text-decoration: none;
}

.navbar-brand {
    margin-left: 1rem;
}

@media (max-width: 991px) {
    .nav-item {
        margin-left: 1rem;
    }
}